.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.div-test{
  text-align: center;
  align-items: center;
  gap:40px;
  justify-content: center;
  margin-top: 20px;
  display: block;
}

.btn-voltar{
  background-color: rgb(52, 51, 51);
  color:white;
  border-radius: 30px;
  padding: 9px 9px;
  text-decoration: none;
  margin-top: 1 auto;
}

.btn-voltar:hover{
  background-color: black;
  color:white;
  border-radius: 30px;
  padding: 9px 9px;
  text-decoration: none;
}

.container{
  margin-top: 20px;
  width:100%;
  gap:30px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse
}

.botao{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 80px;
  height: 40px;
  align-self: self-start;
}

.botao-circle{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 200px;
  height: 50px;
}

.botao-left{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 80px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.botao-grande{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
}
.decoration{
  list-style: none;
}
.botao-afastado{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 80px;
  height: 40px;
  margin: 10px;
}
.botao-delete{
  background-color: rgb(85, 125, 226);
  border-radius: 6px;
  border: #61dafb;
  width: 100px;
  height: 30px;
  padding: 1px;
}
.div-col{
  display:inline-flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  columns:2;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
