.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.div-test{
  text-align: center;
  align-items: center;
  gap:40px;
  justify-content: center;
  margin-top: 20px;
  display: block;
}

.btn-voltar{
  background-color: rgba(245, 69, 178, 0.61);
  color:white;
  border-radius: 30px;
  padding: 9px 9px;
  text-decoration: none;
  margin-top: 1 auto;
}

.btn-voltar:hover{
  background-color: rgb(199, 0, 123);
}

.container{
  margin-top: 20px;
  width:100%;
  gap:30px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse
}

.div-col{
  display:inline-flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  columns:2;
  margin-left: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(226, 85, 195);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
