body {
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5382528011204482) 0%, rgba(121,9,96,0.5886729691876751) 35%, rgba(0,212,255,0.5270483193277311) 100%);
}

body, p, ul, ol, li {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #570722;
}

a:hover {
  color: #d81053;
}

.card-menu {
  background-color: rgba(255, 255, 255, 0.438);
  width: 50%;
  padding: 20px;
  box-shadow:  rgb(0, 0, 0);
  border-radius: 40px;
  display: block;
  margin: 15px;
  align-items: center;
  text-align: center;
}

.card-menu:hover {
  font-size: 18px;
}

.all {
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: fit-column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
}

.links {
  display: block;
}